.emergente {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba( black, .8);
    z-index: 9999;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    line-height: 1;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__close {
        &:link,
        &:visited {
            color: black;
            position: absolute;
            top: 0rem;
            right: .5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }
        &:hover {
            color: #443d75;
        }
    }
    &__content {
        @include center;
        width: 75%;
        height: 25rem;
        background-color: #ffffff;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        border-radius: 3px;
        list-style: none;
        display: table;
        overflow: hidden;
    }
    &__left {
        padding: 3rem;
        width: 40%;
        display: table-cell;
    }
    &__right {
        width: 66%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    .item {
        position: relative;
        padding-left: 1rem;
        width: 100%;
        border-left: 1px solid black;
        &-list {
            position: relative;
            line-height: 1.3rem;
            margin-bottom: 1rem;
            text-align: left;
            display: block;
            padding: 0 1rem;
            font-size: 1rem;
            &::before {
                content: "";
                position: absolute;
                top: .8rem;
                left: -1rem;
                width: 1rem;
                height: 1px;
                background: #000;
            }
            &:first-child::after {
                content: "";
                position: absolute;
                top: 0;
                left: -1rem;
                width: .5rem;
                height: .8rem;
                background: #fff;
            }
            &:last-child::after {
                content: "";
                position: absolute;
                top: .9rem;
                bottom: 0;
                left: -1rem;
                width: .5rem;
                background: #fff;
            }
        }
        &-label {
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8rem;
            &::before {
                content: '';
                position: absolute;
                top: .2rem;
                left: -1.6rem;
                width: 1rem;
                height: 13px;
                border-radius: 100%;
                background: black;
            }
        }
    }
}