.box {
    margin: 0 10%;
    height: 630px;
    overflow: hidden;
    padding: 10px 0 40px 60px;
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        transition: all 0.5s linear;
        top: 0;
        & :last-of-type {
            top: 8rem;
        }
        & :before {
            content: "";
            display: block;
            width: 0;
            height: 100%;
            border: 1px dashed #fff;
            position: absolute;
            top: 0;
            left: 3rem;
        }
        & li {
            margin: 20px 60px 60px;
            position: relative;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.3);
            color: #fff;
            border-radius: 1rem;
            line-height: 2rem;
            width: 35%;
        }
        & li>span {
            display: block;
            width: 0;
            height: 100%;
            border: 1px solid #fff;
            position: absolute;
            top: 0;
            left: -3rem;
        }
        &li>span:before,
        &li>span:after {
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: orangered;
            border: 2px solid #fff;
            position: absolute;
            left: -7.5px
        }
    }
}